<TABLE cellPadding="8" cellspacing="0" border="1">
<TR>
  <TD><A href='clientList.php'>Client List</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='tradeAdd.php'>Add Trade</A></TD>
  <TD><A href='clientTrades.php'>Trades</A>
    &nbsp;&nbsp;
<!--    <A href='clientTrades.php?display=tradesPrint'>Print</A>-->
    <A href='clientTrades.php?display=tradesPrint'><IMG src='./images/print.jpg' border='0' width='30' height='30'></A>
  </TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href='mnuAccount.php'>Money Transactions</A></TD>
</TR>
<TR>
  <TD><A href='brokerage.php'>Item List</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='attachNameToTxtDataAll.php'>Change Name</A></TD>
  <TD><A href='clientTrades.php?display=itemWiseGross'>Item Gross</A></TD>
  <TD><A href="vendorTradesAsClient.php">Vendor Trades</A>
    &nbsp;&nbsp;
    <A href="vendorTradesAsClient.php?display=tradesPrint"><IMG src='./images/print.jpg' border='0' width='30' height='30'></A>
  </TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
<!--  <TD><A href='accountReport.php'>Account Report</A></TD>-->
</TR>
<TR>
  <TD><A href='expiryList.php'>Expiry Dates</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="mnuStand.php">Standing</A></TD>
  <TD><A href='clientTrades.php?display=itemPending'>Item Pending</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href='goldSilverCalcJs.php'>Calculator1</A></TD>
<!--  <TD><A href='settings.php'>Settings</A></TD>-->
</TR>
<TR>
  <TD><A href="vendorList.php">Vendor List</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=openStand'>Open Stand</A></TD>
  <TD><A href='clientTrades.php?display=gross'>Gross</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href='calc.php'>Calculator2</A></TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=closeStand'>Close Stand</A></TD>
  <TD><A href='clientTrades.php?display=noInnerStand'>No Inner Stand</A></TD>
  <TD><A href='vendorTradesAsClient.php?display=noInnerStand'>Vendor No Inner Stand</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=openColoseStand'>Open & Close</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD><A href="setBankRate.php">Bank Rate</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD><A href="selectDtSession.php">Date range</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="links.php">Useful Links</A></TD>
  <TD><A href="http://localhost/pma/db_details_export.php?lang=en-utf-8&server=1&collation_connection=utf8_general_ci&db=omcomexvip&goto=db_details_export.php&selectall=1">Backup</A></TD>
  <TD><A href="http://localhost/pma/db_details.php?lang=en-utf-8&server=1&collation_connection=utf8_general_ci&db=omcomexvip&goto=db_details_export.php&db_query_force=1">Restore</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="extraMenu.php">Extra Menu</A></TD>
</TR>
</TABLE>
