<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<A href="newExpenseList.php">List</A>
<A href="mnuAccount.php">Menu</A>
<BODY bgColor="TAN" onLoad="document.form1.txtExpenseName.focus();">
	<FORM name="form1" action="newExpenseAdd.php" method="POST">
	<TABLE>
    <TR>
      <TD>Expense Name</TD>
      <TD><INPUT type="text" name="txtExpenseName"></TD>
    </TR>
    <TR>
      <TD><INPUT type="submit" name="btnSubmit" value="Submit !!"></TD>
      <TD><INPUT type="reset" name="btnReset" value="Reset"></TD>
    </TR>
  </TABLE>
</FORM>
</BODY>
</HTML>