<HTML>
<HEAD><TITLE>Om !!! Standing Detail</TITLE>
{literal}
<SCRIPT language = "javascript">
function conf(standingId)
{
	if(confirm("Are You Sure You want to Delete Record?"))
			location.href="standingDelete.php?standingId="+standingId;
}
</SCRIPT>
{/literal}
</HEAD>
<BODY>
<A href="./index.php">Home</A>
<A href="./standing.php">Standing Add</A>
<TABLE BORDER=1 cellPadding="2" cellSpacing="0">
  <TR>
    <TH>DELETE</TH>
    <TH>Standing Closing Date</TH>
    <TH>Item</TH>
    <TH>Price</TH>
    <TH>Standing Openening Date</TH>
  </TR>

  {section name=sec1 loop=$i}
    <TR>
      <TD align="center"><A href="javascript: conf({$standingId[sec1]});">Delete</A></TD>
      <TD align="center">{$standingDtCurrent[sec1]}</TD>
      <TD>{$itemExpiryDate[sec1]}</TD>
      <TD align="Right">{$standingPrice[sec1]}</TD>
      <TD align="center">{$standingDtNext[sec1]}</TD>
    </TR>
  {/section}
</TABLE>
</BODY>
</HTML>